h1 {
    color: blue;
    text-align: center;
}

.bigSquare {
    border: 1px solid black;
    height: 600px;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: blue;
}

.bigSquare * {
    border: 1px solid black;
    height: 80px;
    width: 80px;
    display: inline-block;
    border-radius: 150px;
    margin: 5px 12px;
    background-color: white;

}