body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 60px;
}

h2 {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

nav {
    /* border: 1px red solid; */
    text-align:center;
    margin: 30px 0 9px 0;
}

#colButton1, 
#colButton2, 
#colButton3, 
#colButton4, 
#colButton5, 
#colButton6, 
#colButton7 {
    margin: 0 4px;    
    height: 56px;
    width: 57px;
    border-radius: 150px;
    border: grey 1px solid;
    padding: 0 0 10px 0;
    background-color:black;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    outline:none;
}

#colButton1:hover, 
#colButton2:hover, 
#colButton3:hover, 
#colButton4:hover, 
#colButton5:hover, 
#colButton6:hover, 
#colButton7:hover {
    border: white 2px solid;
}

.bigSquare {
    height: 390px;
    width: 500px;
    padding: 10px; 
    border-radius: 20px;
    background-color: black;
    margin: 0 auto;
}

.bigSquare * {
    border: 2px solid black;
    margin: 0px 4px;    
    height: 56px;
    width: 57px;
    border-radius: 150px;
    display: inline-block;
    background-color: white;
}

.bigSquare *:hover {
    border: 1px white solid;
}

#reset {
    height: 62px;
    width: 63px;
    display: block;
    border-radius: 150px;
    margin: 0 auto;
    border: white 1px solid;
    background-color:black;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    outline:none;
    color: white;
    
}

#reset:hover {
    border: white 2px solid;
}